<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poschtizeddel</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@next"></script> <!-- vue.js CDN (Content Delivery Network)-->
</head>
<body>
    <div id="app">
        <div id="header">
            <h1>Poschtizeddel von
                <span v-if="loggedIn">{{vorname}}</span>
                <input
                type="text"
                v-else 
                placeholder="Name (⏎)"
                v-model="nameInput"
                @keyup.enter="saveName"
                id="nameInput"
                autofocus>
            </h1>
        </div>
        <hr>

        <div class="section">
            <h2>Offen</h2>
                <ul>
                <li v-for="eintrag of einkaufsListe">{{eintrag}} <button>&check;</button></li>
            </ul>

            <input type="text" v-model="neuerEintrag" placeholder="Neuer Eintrag" list="itemList">
            <datalist id="itemList">
                <option v-for="suggestion of suggestions" :value="suggestion">{{suggestion}}</option>
            </datalist>
            <button @click="addEntry(neuerEintrag)">+</button>
        </div>
        <hr>

        <div class="section">
            <h2>Erledigt</h2>
        </div>
    </div>

    <script>
        // Unser Code

        let ref = Vue.ref;
        let computed = Vue.computed;

        Vue.createApp({
            setup() {
                /* ========================= username ========================= */
                let name = ref(localStorage.getItem("name"));
                let loggedIn = computed(function () {
                    return name.value != null;
                })

                let nameInput = ref("");

                function saveName() {
                    name.value = nameInput.value;
                    localStorage.setItem("name", name.value);
                }

                /* ========================== Zettel ========================== */
                let einkaufsListe = [1, 2, 3];
                let neuerEintrag = ref("");

                function addEntry(eintrag) {
                    console.log("Function addEntry was called")
                    console.log("'" + eintrag + "'' wurde hinzugefügt.")
                }

                let suggestions = [
                    "Äpfel",
                    "Bananen",
                    "Orangen",
                    "Milch",
                    "Schoggi",
                ]
                
                /* ========================== return ========================== */
                return {
                    "vorname": name,
                    "addEntry": addEntry,
                    "einkaufsListe": einkaufsListe,
                    "suggestions": suggestions,
                    "neuerEintrag": neuerEintrag,
                    loggedIn,
                    saveName,
                    nameInput,
                };
            }
        }).mount("#app");

        /* ========================= responsive design ======================== */
        var app = document.getElementById("app");
        function adjustAppWidth() {
            if (window.innerWidth > 1000) {
                app.style.width = "55%";
            } else if (window.innerWidth > 750) {
                app.style.width = "70%";
            } else if (window.innerWidth > 600) {
                app.style.width = "85%";
            } else if (window.innerWidth >= 300) {
                app.style.width = "95%";
            }
        }
        addEventListener("load", adjustAppWidth)
        addEventListener("resize", adjustAppWidth)
    </script>
</body>
</html>